
<!--
    <div class="card d-flex flex-column">
        <p class="card-title">Componente destino viaje</p>
        <div class="card-body">
            <h4>{{nombre}}</h4>
            <label for="entrada">Entrada: </label>
            <input name="entrada" #prueba id="entrada" type="text">
            <input name="entrada" type="submit" (click)=agregar(prueba.value)>
            <br>
            <strong>Dato en el html: {{prueba.value}}</strong>
            <br>
            <strong>Dato en la clase: {{entra}}</strong>
        </div>
    
    </div>
-->    


        <div class="card-content">
            <div class="card-img">
                <img src="{{destino.url}}" alt="Naturaleza">
                <span><h4>{{posicion}}</h4></span>
            </div>
            <div class="card-desc">
                <h3>{{destino.nombre}}</h3>
                <p>Servicios </p>
                <ul>
                    <li *ngFor= "let servicio of destino.servicios">
                        <span [ngSwitch]="servicio">
                            <i *ngSwitchCase="'Desayuno'" style="color: red">{{servicio}}</i>
                            <i *ngSwitchDefault>{{servicio}}</i>
                            
                        </span>
                    </li>
                </ul>
                
                <a href="#" class="btn-card" (click)="ir()"> Ir</a>
               <!--
                Se puede hacer ngIf en vez de esta manera de if
                <span [style.display]="destino.isSelected() ? '': 'none'">Preferido</span>
                -->
                <span *ngIf="destino.isSelected()" >
                    <span ngNonBindable>{{Preferido}}</span> 
                    <!-- La directiva ngNonBindable hace que no 
                    se reconozca el moustache sino que se lee todo tal cual-->
                </span>
            </div>
        </div>


