<form [formGroup]="datosFormulario" (ngSubmit)="guardar()"> <!--form group representa un objeto con los datos del formulario-->
    <div class="form-row">
        <div class="form-group col">
            <label for="nombre">Nombre:</label>            
            <input type="text" class="form-control" id="nombre" placeholder="Nombre" formControlName="nombre" required> 
            <ul>
                <li *ngFor="let resultado of searchResults;">{{resultado | titlecase}} </li>
            </ul>
            <!--<div *ngIf="!datosFormulario.controls['nombre'].valid">
                <br>
                <span class="alert alert-danger">dato invalido</span>
            </div>    
            <div *ngIf="datosFormulario.controls['nombre'].hasError('required')">
                <br>
                <span class="alert alert-danger">es requerido</span>
            </div>   
            <div *ngIf="datosFormulario.controls['nombre'].hasError('nombreInvalido')">
                <br>
                <span class="alert alert-danger">nombre invalido</span>
            </div> -->   
            <div *ngIf="datosFormulario.controls['nombre'].hasError('longNombre')">
                <br>
                <span class="alert alert-danger">nombre muy corto</span>
            </div>    
        </div>
        <div class="form-group col">
            <label for="url">Url de imagen:</label>
            <input type="text" class="form-control" id="url" placeholder="Url" formControlName="url">
        </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="datosFormulario.controls['nombre'].hasError('longNombre')"> Guardar</button>                        
</form>
