<!--
{{destinos}}
<ul >
    <li *ngFor="let destino of destinos">
         
            <app-destino-viaje  ></app-destino-viaje>
            lugar {{destino}} 
        
    </li>
</ul>

<br>
<strong>Desde aca va el codigo de clase</strong>
<hr>
<div class="d-flex flex-wrap justify-content-around">
    <app-destino-viaje *ngFor="let destino of destinos" [nombre]="destino"></app-destino-viaje>
</div>

desde aca spa mejorada
-->

    <div class="row">
        <div class="col-md-12">
            <span	class="anchor"	id="formLogin"></span>
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">Lista de deseos</h3>
                </div>
                <div class="card-body">
                    <app-formulario-destino-viaje (onItemAdded)="agregado($event)"></app-formulario-destino-viaje>
                </div>
            </div>
        </div>
    </div>


<hr class="mb-5">
<strong>Los destino son:</strong>
<ul>
    <li *ngFor="let destino of destinosApiClient.destinos"> {{destino.nombre | uppercase}}
</ul>

<hr class="mb-5">

<div class="d-flex flex-wrap row-flex">
    <app-destino-viaje  
    *ngFor="let d of destinosApiClient.destinos; let i=index" 
    [destino]="d"
    [posicion]="i+1"
    (clicked)="elegido($event)"    
    ></app-destino-viaje>    
</div>
<hr>
<div class="d-flex flex-wrap row-flex">
    <h4>Actividad reciente</h4>
    <ul>
        <li *ngFor="let nom of updates">{{nom}}</li>
    </ul>
</div>