<div class="container content">
<header>
  <div>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" [routerLink]= "['/home']">{{title}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" routerLinkActive= "activo"> <a class="nav-link" [routerLink]= "['/home']">Inicio</a> </li>
                <li class="nav-item" routerLinkActive= "activo"><a class="nav-link" [routerLink]= "['/destino']">Destino</a></li>
                
                <li class=""></li>
            </ul>
        </div>
    </nav>
  </div>
</header>

<div class="principal">
  <router-outlet></router-outlet>
</div> 
 
 <!-- <app-lista-destinos></app-lista-destinos> -->
</div>
<hr>
Fecha: {{time | async}}
